<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.pucp.proyecto_grupaso">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AgregarFotoDispositivo"></activity>
        <activity android:name=".AgregarDispositivo" />
        <activity android:name=".GestionDispositivos" />
        <activity android:name=".activities.UsuarioTIActivity" />
        <activity android:name=".activities.ClienteActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".IniciarSesion" />
        <activity android:name=".RegistroNuevoCliente" />
        <activity android:name=".activities.MainActivity">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>